.mylinkNL{
    background: url('../Resources/NL.png') no-repeat center right;
    display: block;
    height: 84px;
    width: 264px;
}

.mylinkEN{
    background: url('../Resources/EN.png') no-repeat center right;
    display: block;
    height: 84px;
    width: 264px;
}
