ul.nav > li {
    list-style: none;
    float: left;
    position: relative;
    height: 24px;
}

ul.nav ul{
    left: -10000px;
    position: absolute;
}

ul.nav > li:hover ul{
    left: 0;
    top: 50px;
    background: rgba(100, 100, 100, .80);
}
